#nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#nav-menu {
  height: 100%;
}

.nav-item {
  text-decoration: none;
  color: white;
  width: 7em;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.nav-item:hover {
  background-color: grey;
}

.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 4em;
}

.subtitle {
  font-weight: 400;
  font-size: 1.4em;
}
