#header {
	position: relative;
	display: flex;
	align-items: center;
	height: 90vh;
	background-image: url('../img/bg.jpg');
	background-position-y: center;
	background-position-x: 120%;
	background-size: 60%;
	background-repeat: no-repeat;
}

#title {
	font-family: 'Berkshire Swash', cursive;
	font-size: 3rem;
	font-weight: 900;
}

#sub-title {
	font-size: 1.2rem;
	font-weight: 400;
}

section {
	margin-bottom: 50px;
}