@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kaushan+Script&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
}

body {
	position: relative;
	margin: 0;
}


.container {
	margin: 0 auto;
	max-width: 80vw;
	width: 100%;
}

.flex {
  display: flex;
}

.al-center{
  align-items: center;
}

.jc-center {
  justify-content: center;
}
