#menu {
	display: flex;
	gap: 1rem;
	margin: auto;
	justify-content: center;
}

.menu-item {
	height:auto;
	width: 360px;
	position:relative;
	background-color: white;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.40);
}

.menu-item img {
	width: 100%;
}

.item-text {
	padding: 1rem;
}

.item-name {
	margin: 0;
}

.item-desc {
	margin: 0;
	margin-top: 1rem;
}


