@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
	font-family: 'Merriweather', serif;
}

body {
	position: relative;
	margin: 0;
}


.container {
	margin: 0 auto;
	max-width: 75vw;
	width: 100%;
}



